<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title> 
    <style>
        form {
            text-align: center;
        }
        form input {
            padding:10px 20px;
            font-size: 16px;
            margin-right: 20px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: aqua;
            border-radius: 5px;
        }
    </style>
</head>
<body>

        <form action="/" method="post" class="login">
            <h1>Login</h1>
            <input type="text" name="username" placeholder=" Shokhboz " required>
            <input type="text" name="password" placeholder="root " required>
            <button type="submit">Submit</button>
        </form>

</body>
</html>